# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Android Studio and IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.local/

# Android
local.properties
.cxx/
*.apk
*.ap_

# iOS
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
Podfile.lock
Pods/
/.kotlin/errors/errors-1767296790004.log
